<mat-card class="preferences-card">
  <mat-card-header>
  <mat-card-title>Partner Matching Form</mat-card-title>
  <mat-card-subtitle>This is where the magic happens! The more details you provide, the better we can match you with the perfect project partner.</mat-card-subtitle>
  </mat-card-header>
  <form [formGroup]="specificForm" (ngSubmit)="onSubmit()" class="preferences-content">
    <mat-card-content>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Project Type</mat-label>
      <mat-select formControlName="collaborationType" required>
        <mat-option value="hackathon">Hackathon</mat-option>
        <mat-option value="personal">Personal Project</mat-option>
        @for (class of availableClasses; track class) {
          <mat-option [value]="class.code">
            {{class.name}} ({{class.code}})
          </mat-option>
        }
      </mat-select>
      <mat-hint class="hint-spacing">
      Select from the list of courses or choose "Hackathon" or "Personal Project"
      </mat-hint>

    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width partner-preferences">
      <mat-label>Partner Preferences & Project Details</mat-label>
      <textarea matInput formControlName="specificRequirements" required rows="12"></textarea>
      <mat-hint class="hint-spacing">Be specific about your project goals and stage, skills you're looking for in a partner, and any specific requirements (languages, frameworks, etc.)<br>(Minimum 50 Characters)
      </mat-hint>
      @if (specificForm.get('specificRequirements')?.hasError('minlength')) {
        <mat-error>
          Please provide more details to help us make better matches (at least 50 characters)
        </mat-error>
      }
    </mat-form-field>
    <div class="spacing"></div>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Contact Information</mat-label>
      <input matInput formControlName="contactInfo" required placeholder="Email" type="email">
      <mat-hint class="hint-spacing">Enter an email where your partner should contact you (e.g. unc.edu email address)</mat-hint>
      @if (specificForm.get('contactInfo')?.hasError('pattern')) {
        <mat-error>
          Please enter a valid email
        </mat-error>
      }
    </mat-form-field>
    <div class="spacing"></div>
  </mat-card-content>

  <mat-card-actions>
      <button 
        mat-stroked-button 
        type="button" 
        color="warn" 
        (click)="navigateToGitTogether()"
        class="back-button">
        Back
      </button>
      <button 
        mat-stroked-button 
        color="primary" 
        type="submit" 
        [disabled]="specificForm.invalid || isLoading">
        @if (!isLoading) {
          <span>Find My Perfect Partner</span>
        }
        @if (isLoading) {
          <mat-spinner diameter="20"></mat-spinner>
        }
      </button>
    </mat-card-actions>
  </form>
</mat-card> 


