<mat-pane>
    <div class="preferences-content">
      <div class="preferences-text">
        <mat-card-title>Preferences Form</mat-card-title>
        <p>Form Submitted!</p>
        <p>Your answers will be saved to match you with partners!</p>
        <p>Next Step: Select a collaboration to find a partner within!</p>
      </div>
      <div>
      <button
        id="preferences-button"
        mat-stroked-button
        type="submit"
        (click)="navigateToGitTogether()"
        color="primary">
        Return
      </button>
    </div>
    </div>
  </mat-pane>