.preferences-content {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .preferences-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;

    mat-card-title{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    p {
      margin-bottom: 10px;
    }
  }

  #preferences-button {
    margin-left: 16px;
    margin-right: 16px;
  }