<mat-card class="git-together-card">
  <div class="preferences-content">
    <div class="preferences-text">
      <mat-card-title>Looking to find a partner?</mat-card-title>
      <p>Start by telling us about yourself!</p>
    </div>
    <div class="action-buttons">
      <button 
      mat-raised-button 
      class="action-button primary-button" 
      (click)="navigateToPreferences()">
      <mat-icon>tune</mat-icon>
      Set Preferences
      </button>
      
      <button 
        mat-raised-button 
        class="action-button secondary-button" 
        (click)="navigateToSpecificForm()">
        <mat-icon>person_search</mat-icon>
        Specific Teammate Search
      </button>
      
      <button 
        mat-raised-button 
        class="action-button tertiary-button" 
        (click)="navigateToViewMatches()">
        <mat-icon>people</mat-icon>
        View Matches
      </button>
      
      <button 
        mat-raised-button 
        class="action-button surface-button" 
        (click)="navigateToCoworking()">
        <mat-icon class="on-surface-variant-icon">arrow_back</mat-icon>
        Back to Coworking
      </button>
    </div>
  </div>
</mat-card>