<mat-card class="git-together-card">
  <div class="header">
    <button mat-icon-button class="back-button" (click)="navigateToCoworking()">
      <mat-icon>arrow_back</mat-icon>
    </button>
      <mat-card-title>Looking to find a partner?</mat-card-title>
      <mat-card-subtitle>Start by telling us about yourself!</mat-card-subtitle>
  </div>

    <div class="preferences-content">

    <div class="action-buttons">
      <button 
      mat-stroked-button 
      class="action-button primary-button" 
      (click)="navigateToPreferences()">
      <mat-icon>tune</mat-icon>
      Set Preferences
      </button>
      
      <button
      mat-stroked-button 
        class="action-button secondary-button" 
        (click)="navigateToSpecificForm()">
        <mat-icon>person_search</mat-icon>
        Specific Teammate Search
      </button>
      
      <button
      mat-stroked-button 
        class="action-button tertiary-button" 
        (click)="navigateToViewMatches()">
        <mat-icon>people</mat-icon>
        View Matches
      </button>
      
    </div>
  </div>
</mat-card>