<mat-card class="git-together-card">
  <div class="preferences-content">
    <div class="preferences-text">
      <mat-card-title>Looking to find a partner?</mat-card-title>
      <p>Start by telling us about yourself!</p>
    </div>
    <div class="action-buttons">
      <button
        mat-stroked-button
        color="primary"
        (click)="navigateToPreferences()"
        class="action-button">
        Initial Preferences
      </button>
      <button
        mat-stroked-button
        color="accent"
        (click)="navigateToSpecificForm()"
        class="action-button">
        Specific Requirements
      </button>
      <button
        mat-stroked-button
        color="warn"
        (click)="navigateToViewMatches()"
        class="action-button">
        View Matches
      </button>
      <button
        mat-stroked-button
        (click)="navigateToCoworking()"
        class="action-button">
        Back to Coworking
      </button>
    </div>
  </div>
</mat-card>