<mat-card class="matches-container">
  @if(!isloading){
  @if(iffilled && sffilled){
  <div class="header">
    <button mat-icon-button class="back-button" (click)="navigateToCourseSelection()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <mat-card-title>Your GitTogether Matches</mat-card-title>
    @if(selectedCourse){
    <mat-card-subtitle>Showing matches for <strong>{{courseName}} ({{selectedCourse}})</strong></mat-card-subtitle>
    <button 
            mat-stroked-button 
            color="primary"
            (click)="getNewMatches(selectedCourse)"
            class="contact-button">
            <mat-icon>person_add</mat-icon>
            New Match
          </button>
    }
    @if(!selectedCourse){
    <p  class="subtitle">Here are your best matches based on your preferences and requirements.</p>
    }
    
  </div>

  @if (matches.length > 0) {
    <div class="matches-list"> 
      @for (match of matches; track match){
      <mat-card class="match-card">
        <mat-card-header class="match-card-header">
          <mat-card-header class="headersub">
          @if (match.pfp) {
            <img mat-card-avatar class="user-avatar" [src]="match.pfp" />
            } @else if (match.name) {
            <p mat-card-avatar class="user-avatar secondary-background">
              {{ match.name.charAt(0) }}
            </p>
            }
          <mat-card-title>{{match.name}}</mat-card-title>
          <mat-card-subtitle>
            <span class="match-score">Match Score: {{match.score}}%</span>
            <span class="course-chip">{{selectedCourse}}</span>
          </mat-card-subtitle>
        </mat-card-header>
          <button 
            mat-icon-button
            color="warn"
            aria-label="Delete match"
            class="delete-button"
            (click)="console.log('Delete match')"
            >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-header>
        <br/>
        <mat-card-content>
          @if (match.bio){
          <div class="match-bio">
            <mat-icon class="comment-icon">mode_comment</mat-icon>
            <mat-card-subtitle>{{match.bio}}</mat-card-subtitle>
          </div>
        }
          
            <mat-card-subtitle>Compatibility Breakdown</mat-card-subtitle>
            <br/>
          <div class="compatibility-details">
            <ng-container>
              @for (item of compatibilityItems(match.compatibility); track item.label) {
                <div class="compatibility-item">
                  <div class="compatibility-header">
                    <span>{{ item.label }}</span>
                    <span class="value"> {{ item.value }}/5</span>
                  </div>
                  <mat-progress-bar 
                    mode="determinate" 
                    [value]="item.value * 20"
                    [color]="getProgressColor(item.value)">
                  </mat-progress-bar>
                </div>
              }
            </ng-container>
          </div>
          <br/>
          @if (match.reasoning){
            <div class="match-bio" >
              <mat-icon class="brain-icon">network_intelligence</mat-icon>
              <mat-card-subtitle>AI reasoning: {{match.reasoning}}</mat-card-subtitle>
            </div>
          }
        </mat-card-content>
        
        <mat-card-actions>
          <button 
            mat-stroked-button 
            color="primary"
            (click)="contactMatch(match.contact)"
            class="contact-button">
            <mat-icon>email</mat-icon>
            Contact {{match.name.split(' ')[0]}}
          </button>
        </mat-card-actions>
      </mat-card>
    }
    </div>
  } @else {

    <div class="no-matches">
      <mat-icon class="no-matches-icon">search_off</mat-icon>
      <h3>No matches found yet</h3>
      <p>Try Clicking New Match!</p>
    </div>
  }
} @else {
  <button mat-icon-button class="back-button" (click)="navigateToCourseSelection()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <br/>
  <br/>
}
  } @else {
    @if (!iffilled) {
      <p>Please fill out the initial preference form. Then return to this page.</p>
    }
      @else {
      <p>Fetching Your Matches</p>
    }
  }
</mat-card>