<mat-card class="course-selection-card">
  @if(!loading){
  <div class="header">
    <button mat-icon-button class="back-button" (click)="navigateToGitTogether()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <mat-card-title>Select Your Course</mat-card-title>
    <mat-card-subtitle>Choose a course to view your potential matches for that class.</mat-card-subtitle>
  </div>

  <div class="course-selector">
    <mat-form-field appearance="fill">
      <mat-label>Select a course</mat-label>
      <mat-select [(value)]="selectedCourse">
        @for (course of courses; track course) {
          <mat-option [value]="course">
           {{course}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>


    <div class="action-buttons">
      <button 
        mat-stroked-button 
        color="primary"
        [disabled]="!selectedCourse"
        (click)="viewMatches()"
        class="view-matches-button">
        <mat-icon>people</mat-icon>
        View Matches
      </button>

      <button 
        mat-stroked-button 
        color="warn"
        [disabled]="!selectedCourse"
        (click)="deleteCoursePreferences()"
        class="delete-button">
        <mat-icon>delete</mat-icon>
        Delete Entry
      </button>
    </div>

  </div>
} @else{
  <p>Loading</p>
}
</mat-card>