<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <label>How close to deadlines do you usually work?</label>
      <p><small>In advance → Last Minute</small></p>
      <input type="range" min="1" max="5" formControlName="one" />
    </div>
  
    <div>
      <label>How do you prefer to divide work in a group project?</label>
      <p><small>Independent → Collaborative</small></p>
      <input type="range" min="1" max="5" formControlName="two" />
    </div>
  
    <div>
      <label>How comfortable are you with taking a leadership role?</label>
      <p><small>Not comfortable → Very comfortable</small></p>
      <input type="range" min="1" max="5" formControlName="three" />
    </div>
  
    <div>
      <label>How frequently do you like to meet with your group?</label>
      <p><small>Only when necessary → Daily check-ins</small></p>
      <input type="range" min="1" max="5" formControlName="four" />
    </div>
  
    <div>
      <label>How do you approach conflicts in a group?</label>
      <p><small>Avoid conflict → Directly address issues</small></p>
      <input type="range" min="1" max="5" formControlName="five" />
    </div>
  
    <button type="submit">Submit</button>
  </form>
  